<div>
    <ul class="first">
      <li class="half-width first search-selected">
        <label class="hide" for="key">e.g. TGI Fridays</label>
        <input type="text" name="key" id="key" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="e.g. TGI Fridays" data-required="Category or name (Required)" data-gaevent="search_box" data-gaaction="business_category_or_name" data-galabel="focus">
      </li>
      <li class="half-width last locatable has-button has-helper-label">
        <label class="hide" for="where">City, State or ZIP</label>
        <input type="text" name="where" id="where" value="" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="City, State or ZIP" maxlength="100" class="city-typeahead location-field has-expandable-btn" data-location-display="city-state" data-required="City, State or ZIP (Required)" data-gaevent="search_box" data-gaaction="business_location" data-galabel="focus">
        </li>
      <button type="submit" class="new-search" data-gaevent="business"
      data-gaaction="search" data-galabel="click" data-ampevent="WPClickedSearch"
      data-pathname="/home" data-searchtype="business">
          <img height="32px" width="32px" src="/assets/images/search.svg"></button>
    </ul>
</div>
<div>

