
<div>
    <ul class="">
    <li class="full-width has-button">
      <label class="hide" for="full_phone">e.g. 206-867-5309</label>
      <input type="tel" name="full_phone" id="full_phone" autocomplete="off" autocorrect="off"
      spellcheck="false" data-required="Phone number (Required)"
      data-gaevent="search_box" data-gaaction="phone"  placeholder="e.g. 206-867-5309" class="phone">
    </li>
    <button type="submit" class="new-search" data-gaevent="phone"
    data-gaaction="search" data-galabel="click" data-ampevent="WPClickedSearch"
    data-pathname="/home" data-searchtype="phone"><img height="32px" width="32px" 
    src="/assets/images/search.svg"></button>
  </ul>
 </div>
